<div class="row">
  <% @boards.each do |board| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to board.title, board_path(board) %></h3>
        </div>
        <table class="table">
          <% board.posts.last(5).each do |post| %>
          <tr>
            <td><%= link_to post.title, post_path(post) %></td>
            <td><%= post.user.name %></td>
            <td><%= post.created_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>